.remark-code, .remark-inline-code {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size:          90%;
  font-weight:        bold;
  color:              #231F20;
  background:         #e1e1e1;
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
}